@define-color bg #2c2e27;
@define-color fg #fdfefd;
@define-color gray1 #d2dfc1;
@define-color gray2 #a2a49a;
@define-color gray3 #c6d0b6;
@define-color gray4 #dfdfb9;
@define-color gray5 #cfc9af;
@define-color fg_bright #fdfefd;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}